useDynLib(Rolemodel)

## export functions ##
export(ILP)
export(sequentialRM)
export(subRM)

export(bp)
export(I2edge)
export(gs2edge)
export(bpTable)
export(estP)

## import functions ##
importFrom(mgsa, mgsa)
importFrom(Rglpk, Rglpk_solve_LP)
importFrom(AnnotationDbi, toTable, revmap, mappedLkeys)

