useDynLib(Rolemodel)

## function to export ##
export(ILP)
export(optimalRM)
export(sequentialRM)
export(shrinkRM)
export(subRM)

export(bp)

## import methods ##

## import functions ##
importFrom(mgsa,mgsa)

