useDynLib(Rolemodel)

## function to export ##
export(ILP)
export(optimalRM)
export(sequentialRM)
export(shrinkRM)
export(subRM)

export(bp)
export(I2edge)
export(gs2edge)
export(bpsub)
export(getPi)

## import functions ##
importFrom(mgsa, mgsa)
importFrom(Rglpk, Rglpk_solve_LP)
importFrom(AnnotationDbi, toTable, revmap, mappedLkeys)

